---
layout: default
title: Home
---


<link rel="stylesheet" href="assets/css/weather_animations.css">


<script>
    // Check if the "fromSplash" parameter is in the URL
    const urlParams = new URLSearchParams(window.location.search);
    const fromSplash = urlParams.get('fromSplash');

    // Redirect to the splash page if not coming from the splash page
    if (!fromSplash && (window.location.pathname === '/The_Oddysey/' || window.location.pathname === '/The_Oddysey/index.html')) {
        window.location.href = '/The_Oddysey/splash.html';
    }
</script>



<!-- Add particles.js script first, before WeatherAnimation.js -->
<!-- <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

 Your custom weather animation script -->
<!-- <script src="assets/js/WeatherAnimation.js"></script> --> -->

<div id="weather-effects">
    <div id="thunderstorm">
      <div id="lightning"></div>
    </div>
    <div id="cloudy"></div>
    <canvas id="rain"></canvas>
    <div id="snow"></div> <!-- Make sure this exists -->
</div>



<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
    <span class="navigation" role="navigation">
        {% include pagination.html %}
    </span>
</div>
